/*styles.css*/

@import "colors.css";
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

html, body, #root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--blue1);
    font-family: 'Archivo', sans-serif;
    font-weight: bold;
}

.title {
    font-size: 24px;
    margin-bottom: 12px;
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: var(--blue12);
}

.description {
    font-size: 14px;
    margin-bottom: 24px;
    color: var(--blue11);
}

.dndflow {
    display: flex;
    height: 100%;
    flex-direction: column;
}

.dndflow aside {
    margin: 24px;
    border-radius: 17px;
    border: var(--blue4) 1px solid;
    padding: 24px;
    height: min-content;
    background: var(--blue2);
    color: var(--blue12);
    line-height: 150%;
    min-width: 250px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    position: absolute;
    right: 0;
}


.dndflow .dndnode {
    font-size: 14px;
    height: 40px;
    padding: 24px;
    border-radius: 7px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23333' stroke-width='4' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: grab;
    transition: background-color 0.3s, color 0.3s;
}

.dndflow .reactflow-wrapper {
    flex-grow: 1;
    height: 100%;
}

.react-flow__node {
    border-radius: 7px;
}

.input {
    background-color: var(--green1);
    color: var(--green9);
    border-color: var(--green6);
    &:hover {
        background-color: var(--green3);
        color: var(--green9);
        transition: background-color 0.3s, color 0.3s;
    }
    &.selected {
        border-color: var(--green9);
    }
}

.default {
    background-color: var(--yellow1);
    color: var(--yellow9);
    border-color: var(--yellow6);
    &:hover {
        background-color: var(--yellow3);
        color: var(--yellow9);
        transition: background-color 0.3s, color 0.3s;
    }
    &.selected {
        border-color: var(--yellow9);
    }
}

.output {
    background-color: var(--red1);
    color: var(--red9);
    border-color: var(--red6);
    &:hover {
        background-color: var(--red3);
        color: var(--red9);
        transition: background-color 0.3s, color 0.3s;
    }
    &.selected {
        border-color: var(--red9);
    }
}

.pizza-icon {
    width: 100%;
    margin-bottom: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.suggested {
    position: relative;
    border: none;
    &:after {
        padding: 0 10px;
        border-radius: 999px;
        content: 'Suggested';
        font-size: 13px;
        background-color: var(--blue2);
        border: var(--blue6) 1px solid;
        color: var(--blue11);
        font-weight: 400;
        margin-left: 10px;
        top: -5px;
        right: -5px;
        position: absolute;
    }
}

.toast {
    background-color: var(--green2);
    color: var(--green12);
    border: var(--green7) 1px solid;
    font-size: 16px;
    border-radius: 4px;
    padding: 12px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.export-button {
    background-color: var(--blue1);
    color: var(--blue9);
    position: absolute;
    border: var(--blue6) 1px solid;
    border-radius: 4px;
    padding: 12px;
    &:hover {
        background-color: var(--blue3);
        color: var(--blue9);
        transition: background-color 0.3s, color 0.3s;
    }
}

.react-flow__edge-path {
    stroke: var(--blue6);

}
.react-flow__edge-interactive-path {
    stroke: var(--blue9);

}

.react-flow__edge.selected .react-flow__edge-path, .react-flow__edge:focus .react-flow__edge-path, .react-flow__edge:focus-visible .react-flow__edge-path {
    stroke: var(--blue9);
}

.controls {
    scale: 150%;
    color: var(--blue9);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
}

.react-flow__controls-button {
    background-color: var(--blue2);
    color: var(--blue11);
    fill: var(--blue11);
    border: var(--blue6) 1px solid;
    border-radius: 4px;
    margin-bottom: 8px;
    &:hover {
        background-color: var(--blue3);
        color: var(--blue9);
        fill: var(--blue9);
        transition: background-color 0.3s, color 0.3s;
    }
}

@media screen and (min-width: 768px) {
    .dndflow {
        flex-direction: row;
    }

    .dndflow aside {
        width: 20%;
        max-width: 250px;
    }
}